<html>
<head>
    <meta charset="utf-8">
    <title>HTMLify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/ZeroClipboard.min.js"></script>
</head>
<body>

<!-- Header -->
<div class="demo-headline">
    <h1 class="demo-logo">
        <!-- <div class="logo"></div> -->
        HTMLify
        <small>Turn your code into pluggable HTML</small>
    </h1>
</div> <!-- /demo-headline -->

<!-- Form -->
<div style="width: 90%;" align="center">
    <form action="/" method="post">{% csrf_token %}
        <div class="span3" align="center" style="width: 100%;">
            <textarea placeholder="Paste your code here!" class="span3" style="width: 60%; resize: none" name="{{ form.code.html_name }}"></textarea>
        </div>
        <div class="span3" align="center" style="width: 100%;">
              <input type="submit" value="HTMLify!" class="btn btn-large btn-block" style="width: 60%;" />
        </div>
        
    </form>
    &nbsp;
    <div class="span3" align="center" style="width: 100%;">
        {% if htmlified %}
        <textarea disabled placeholder="{{ htmlified }}" class="span3" style="width: 60%; resize: none" id="formatted-code"></textarea>
        {% else %}
        <textarea disabled placeholder="Your HTML will appear here after you click HTMLify." class="span3" style="width: 60%; resize: none" id="formatted-code"></textarea>
        {% endif %}
    </div>
    <div class="span3" align="center" style="width: 100%;">
        <div class="btn btn-large btn-block" style="width: 60%;" id="copy-button" data-clipboard-target="formatted-code">Copy to Clipboard</div>
    </div>
</div>

<script type="text/javascript">
    var clip = new ZeroClipboard(document.getElementById("copy-button"), {
          moviePath: "{{ STATIC_URL }}swf/ZeroClipboard.swf"
        } );
    
        clip.on( 'complete', function(client, args) {
          this.style.display = 'none'; // "this" is the element that was clicked
          alert("Copied text to clipboard: " + args.text );
        } );
</script>

<!-- Footer -->
<div>
</div>

</body>
</html>